<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/style.css">
    
    <title>cooksBook</title>
    <link rel="shortcut icon" type="image/jpg" href="https://cdn-icons-png.flaticon.com/512/2937/2937607.png"/>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>

  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
  
  </head>
  <body style="background-image: url('https://images.pexels.com/photos/616484/pexels-photo-616484.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260'); background-size: cover; background-repeat: no-repeat; 
  background-attachment: fixed; ">

    <nav class="navbar navbar-expand-md navbar-expand-lg navbar-light  .fixed-top bg-light" id='nav-container'>
      <div class="container-fluid bg-light">
        <a class="navbar-brand" id='cooksBook-button'>cooksBook</a>
        
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">

            <div class="navbar-nav ms-auto">
              <a class="nav-link" id='home-button' href="#" aria-label="Toggle navigation" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"">Home</a>
              <a class="nav-link" href="#" id="loader" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent">All Recipes</a>
              <a class="nav-link" href="#" id="adder" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent">New Recipe</a>
              <a class="nav-link" href="#" id="searcher" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent">Search</a>

              <a class="nav-link" href="#" id="login-button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent">Login</a>
              <a class="nav-link invisible" href="#" id="logout-button" data-bs-toggle="collapse" 
              data-bs-target="#navbarSupportedContent">Logout</a>

            </div>
          </div>
      </div>
    </nav>

    <div class='container text-center' id="welcome-div"></div>

    <!-- content/recipes container -->
    <div class="container" id='recipes-container'>
      <div class="row col-md-12 col-lg-12 g-5 pt-4" id='recipes'>
      </div>
      <section class="bg-transparent text-dark p-5 text-center text-sm-start" id="intro-section">
        <div class="container">
          <div class="d-sm-flex align-items-center justify-content-between m-10">
            <h1>The Internet's cookBook</h1>
            <p class="lead my-4">
              All of the web's best recipes in one place. Crowdsourced by cookBook's hungry users.
            </p>
          </div>
        </div>
        <img
          class="img-fluid w-80 d-none d-sm-block m-10"
          src="/images/transparent_kitchen.png"
          alt="kitchen icon"
        />


        <div id="carouselExampleControls" class="carousel slide w-100" data-bs-ride="carousel">
          <div class="carousel-inner  w-100 shadow rounded">
            <div class="carousel-item active  w-100 shadow rounded m-md-3 m-lg-3">
              <img src="https://images.food52.com/F7eK9U2kMv2aJKduT7P8cwtAO58=/1550x1078/filters:format(webp)/7ab47645-6cb9-4eb6-8c54-e6a8800b7226--2021-1008_sponsored_erath_big-feast_recipe_taro-shrimp-fritter_branded_3x2_bette-blau-300.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item  shadow rounded">
              <img src="https://images.food52.com/Y7rZqwXhmvqlug-58CTbvCymV3c=/1550x1078/filters:format(webp)/767f6db1-937a-463b-9404-317a99cd6157--2018-0503_moms-bulgogi-cucumber-kimchi-salad_3x2_rocky-luten_049.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item shadow rounded">
              <img src="https://images.food52.com/7T1I5NXYoXE5q3ECC1FepGkgtyg=/1550x1078/filters:format(webp)/21a0418e-99a9-445b-a2ee-03f6caaca7d8--2021-1116_sponsored_wasa_cheese-board_promo_not-branded_3x2_julia-gartland_317.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item shadow rounded">
              <img src="https://images.food52.com/o-EL2OAt8RZt7HREwyuZ-YtJEbw=/1930x1286/filters:format(webp)/7004bc30-e6ee-441e-bc0f-44e30bb20a50--2021-11-16_16-53-00_2-.jpeg" class="d-block w-100" alt="Sample Food Image">
            </div>
            <div class="carousel-item shadow rounded">
              <img src="https://images.food52.com/S05GOg1t1zQ1ghLeG00Hy0gncSI=/1320x880/filters:format(webp)/4991ccb6-fa4e-4213-99b1-3d160bd1e00a--2021-1207_jerk-chicken_3x2_rocky-luten_016.jpg" class="d-block w-100" alt="Jerk Chicken">
            </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>



      </section>
      </div>

    <!-- modals container -->
  <div class="container modals">

    <!-- new recipe modal -->
    <div id="addModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="false">

      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Add New Recipe</h5>
            <button type="button" class="close btn-info" id='close-add-modal' data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
        </div>
        <div class="modal-body">

          <form action="/recipes?_method=PUT" method="POST">
            <div class="mb-3">
              <label class="form-label" for="title">Title</label>
              <input class='form-control'type="text" name="title" id="title">
            </div>
            
            <div class="mb-3">
              <label class="form-label" for="description">Description</label>
              <textarea name="Text1" cols="40" rows="5" class='form-control' type="text" name="description" id="description"></textarea>
            </div>

            <div class="form-group">
              <label class="form-label" for="ingredients">Ingredients</label>
              <textarea name="Text1" cols="40" rows="5" class='form-control' type="text" name="ingredients" id="ingredients" placeholder="Separate ingredients with a comma"></textarea>
            </div>

            <div class="form-group">
              <label class="form-label" for="steps">Steps</label>
              <input class='form-control' type="text" name="steps" id="steps" placeholder="Separate steps with a comma">
            </div>

            <div class="form-group">
              <label class="form-label" for="image">Image</label>
              <input class='form-control' type="text" name="image" id="image">
            </div>

            <div class="form-group">
            <label class="form-label" for="tags">Tags</label>
            <input class='form-control' type="text" name="tags" id="tags" data-role="tagsinput">

            </div>
              
            <div class="modal-footer">
              <button type="submit" class="btn btn-info" id='create-recipe-button'>Submit</button>
            </div>
          </form>

        </div>
      </div>
      </div>
    </div>

    <!-- edit recipe modal -->
    <div id="editModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="false">

      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Edit Recipe</h5>
            <button type="button" class="close btn-info" id='close-edit-modal' data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
        </div>
        <div class="modal-body">

          <form action="/recipes" 
           method="POST" 
          
          id="edit-form">
            <div class="mb-3">
              <label class="form-label" for="title" for="steps">Title</label>
              <input class='form-control'type="text" name="title" id="titleEdit">
            </div>
            
            <div class="form-group">
              <label class="form-label" for="description">Description</label>
              <textarea class='form-control' type="text" name="description" id="descriptionEdit"></textarea>
            </div>

            <div class="form-group">
              <label class="form-label" for="ingredients">Ingredients</label>
              <textarea class='form-control' type="text" name="ingredients" id="ingredientsEdit"></textarea>
            </div>

            <div class="form-group">
              <label class="form-label" for="steps">Steps</label>
              <textarea class='form-control' type="text" name="steps" id="stepsEdit"></textarea>
            </div>

            <div class="form-group">
              <label class="form-label" for="image">Image</label>
              <input class='form-control' type="text" name="image" id="imageEdit">
            </div>

            <div class="form-group">
            <label class="form-label" for="tags">Tags</label>
            <input class='form-control' type="text" name="tags" id="tagsEdit" data-role="tagsinput">
            </div>
              
            <div class="modal-footer">
              <button type="submit" class="btn btn-info" id='submit-edit-button'>Submit</button>
            </div>
          </form>

        </div>
      </div>
      </div>
    </div>
    
    <!-- search for a recipe modal -->
    <div id="searchModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="false">

      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Search For A Recipe</h5>
            <button type="button" class="close btn-info" id='close-search-modal' data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
        </div>
        <div class="modal-body">

          <form action="/recipes" method="GET" id="search-form">
            
            <div class="form-group">
              <label class="form-label" for="search"></label>
              <input class='form-control' type="text" name="search" id="searchCriteria">
            </div>
              
            <div class="modal-footer">
              <button type="submit" class="btn btn-info" id='search-recipe-button'>Search</button>
            </div>
          </form>

        </div>
      </div>
      </div>
    </div>

    <!-- login modal -->
    <div id="login-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="false">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Login</h5>
            <button type="button" class="close btn-info" id='close-login-modal' data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
        </div>
        <div class="modal-body">

          <form id="login-user-form">
            
            <div class="form-group">
              <label class="form-label" for="username">Username</label>
              <input class='form-control' type="text" name="username" id="username">
            </div>

            <div class="form-group">
              <label class="form-label" for="password">Password</label>
              <input class='form-control' type="password" name="password" id="password">
            </div>
              
            <div class="modal-footer">
              <button type="submit" class="btn btn-info" id='login-user-button'>Login</button>

              <button type="submit" class="btn btn-light" id='open-register-modal'>Register New User</button>

            </div>
          </form>

        </div>
      </div>
    </div>
    </div>

    <!-- create account modal -->
    <div id="create-account-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="false">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Create An Account</h5>
            <button type="button" class="close btn-info" id='close-register-modal' data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
        </div>
        <div class="modal-body">

          <form action="/users?_method=PUT" method="POST" id="create-user-form">
            
            <div class="form-group">
              <label class="form-label" for="username">Username</label>
              <input class='form-control' type="text" name="username" id="create-username">
            </div>

            <div class="form-group">
              <label class="form-label" for="password">Password</label>
              <input class='form-control' type="password" name="createPassword" id="create-password">
            </div>

            <div class="form-group">
              <label class="form-label" for="verify-password">Re-type Password</label>
              <input class='form-control' type="password" name="verifyPassword" id="verify-password">
            </div>
              
            <div class="modal-footer">
              <button type="button" class="btn btn-info" id='create-user-button'>Register</button>

            </div>
          </form>

        </div>
      </div>
    </div>
    </div>


  
    <script src="../script.js"></script>
  </body>
</html>
